@view-transition{
    navigation: auto;
}
html{
    scroll-behavior: smooth;
}
:root{
    --orange: #FF8904;
    --yellow: #FFD230;
    --yellow-light: #FEE685;
    --red: #E7180B;
}
.outfit-bold{
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}
.txt-blanco {
    color: white !important;
}
.roboto-slab-medium {
    font-family: "Roboto Slab", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 22px !important;
}

.noto-sans-regular, body {
    font-family: "Noto Sans", sans-serif;
    font-size: 18px !important;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}
.cbg-primary
{
    background-color: var(--orange) !important;
}
.cbg-yellow-light
{
    background-color: var(--yellow-light) !important;
}
.color-red{
    color: var(--red);
}
.shadow-txt-red{
    text-shadow: 2px 1px 0px rgb(0,0,0);
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #18E7F4 !important;
    border-radius: 50% !important;
    padding: 20px !important;
    
}
.carousel-control-prev-icon{
    background-image: url(carrusel/arrow-left.svg) !important;
    filter: invert(100%) !important;
}
.carousel-control-next-icon{
    background-image: url(carrusel/arrow-right.svg) !important;
    filter: invert(100%) !important;
}
.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50% !important;
    background-color: var(--red) !important;
}
.carousel-indicators .active{
    background-color: var(--yellow) !important;
}

.icons-header
{
    filter: invert(100%);
    width: 150px;
    height: 150px;
}
.filtro-desva{
    mask-image: linear-gradient(#000 95%, #0000);
}
.icon-blanco{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
