@view-transition{
    navigation: auto;
}
html{
    scroll-behavior: smooth;
}
html, body {
    overflow-x: hidden;
}
/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
    @-webkit-keyframes shadow-drop-center {
    0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
    }
    @keyframes shadow-drop-center {
    0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

:root{
    --orange: #FF8904;
    --yellow-light: #FEE685;
    --gris: #D9D9D9;
}

.txt-blanco {
    color: white !important;
}
.roboto-slab-medium {
    font-family: "Roboto Slab", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 22px !important;
}
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-size: 32px !important;
    font-optical-sizing: auto;
    font-weight: bold !important;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.roboto-regular, body {
    font-family: "Roboto", sans-serif;
    font-size: 18px !important;
    font-optical-sizing: auto;
    font-weight: normal !important;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
.cbg-primary
{
    background-color: var(--orange) !important;
}
.cbg-yellow-light
{
    background-color: var(--yellow-light) !important;
}
.color-orange{
    color: var(--orange);
}
.shadow-txt-red{
    text-shadow: 2px 1px 0px rgb(0,0,0);
}

.icons-header
{
    filter: invert(100%);
    width: 150px;
    height: 150px;
}
.filtro-desva{
    mask-image: linear-gradient(#000 95%, #0000);
}
.icon-blanco{
    width: 20px;
    height: 20px;
    filter: invert(100%);
}
.search-icon{
    background-color: white !important;
    border: none !important;
    border-radius: 25px 0px 0px 25px !important;
}
.search-input{
    border: none !important;
    border-radius: 0px 25px 25px 0px !important;   
}
.search-input:focus {
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both !important;
}
.hero-section {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../src/img/page_index/Pesca-DiqueCuestadelViento.jpg');
    
    background-size: cover;
    background-position: center;
    height: 60vh !important; 
    min-height: 400px !important;
}

.btn-custom-orange {
    background-color: var(--orange) !important; 
    border-color: var(--orange)!important;
    color: white !important ;
    font-weight: bold !important;
    padding: 0.5rem 1.5rem !important;
    border-radius: 5px !important;
}

.btn-custom-orange:hover {
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
    color: white !important;
}

.image-wrapper {
    width: 250px;
    height: 250px;
    overflow: hidden;
    flex-shrink: 0;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.service-icon {
    width: 60px;
}

#testimonialCarousel .carousel-indicators button {
    background-color: var(--gris); 
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 0;
    opacity: 1; 
}
.testimonial-icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}
#testimonialCarousel .carousel-indicators .active {
    background-color: var(--yellow-light);
}
#testimonialCarousel .carousel-indicators {
    bottom: -40px; 
}
#testimonialCarousel .carousel-control-prev,
#testimonialCarousel .carousel-control-next {
    opacity: 1;
    width: 10%; 
}

#testimonialCarousel .carousel-inner {
    padding: 2rem 0;
}
.btn-custom-orange {
    background-color: var(--orange) !important;
    border-color: var(--orange) !important;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.btn-custom-orange:hover {
    background-color: #d1832a;
    border-color: #d1832a;
    color: white;
}


@media (max-width: 768px) {
    .display-5 {
    font-size: 2.5rem; 
    }
}