:root
{
    --orange: #FF8904;
    --yellow: #FFD230;
    --yellow-light: #FEE685;
    --red: #E7180B;
}
.outfit-bold
{
    font-family: "Outfit", sans-serif !important;
    font-optical-sizing: auto !important;
    font-weight: 700 !important;
    font-style: normal !important;
}

.roboto-slab-medium 
{
    font-family: "Roboto Slab", serif !important;
    font-optical-sizing: auto !important;
    font-weight: 500 !important;
    font-style: normal !important;
}
.cbg-primary
{
    background-color: var(--orange) !important;
}


.titulo-seccion 
{
  background-color: #FF8904; 
  text-align: center;
  padding: 40px 0;
  margin: 0;
  width: 100vw; 
  height: 184px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-seccion h3 
{
  color: #fff;
  letter-spacing: 1px;
  margin: 0;
  text-transform: uppercase;
}

.promociones 
{
  width: 100%;
  font-family: 'Noto Sans';
  color: rgb(255, 255, 255);
}

.banner, .viaje-individual, .viaje-grupal 
{
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.banner img, 
.viaje-individual img,
.viaje-grupal img 
{
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  padding: 0;
}
 
.promociones .promo,
.promociones .viaje-individual,
.promociones .viaje-grupal 
{
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    line-height: 0;
}

.promociones .promo img,
.promociones .viaje-individual img,
.promociones .viaje-grupal img 
{
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0; 
}

.promociones .promo button,
.promociones .viaje-individual button,
.promociones .viaje-grupal button 
{
    position: absolute;
    bottom: 20px; 
    right: 20px;
    transform: translateX(-50%);
    z-index: 10;
}

.armar-viaje {
  text-align: center;
  height: 184px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.link-armar-viaje {
  font-size: 32px !important;
  font-weight: bold !important;
  color: var(--orange) !important;
  text-decoration: none !important;
  position: relative !important;
  display: inline-block !important;
  padding-bottom: 4px !important;
  transition: color 0.3s ease !important;
}

.link-armar-viaje::after {
  content: "" !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  width: 0 !important;
  height: 3px !important;
  background-color: var(--red) !important;
  transition: width 0.3s ease !important;
}

.link-armar-viaje:hover {
  color: var(--red) !important;
}

.link-armar-viaje:hover::after {
  width: 100% !important;
}

 