.contenedor-san-juan {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px !important;
  font-optical-sizing: auto;
  font-weight: normal !important;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}

.contenedor-san-juan h1 {
  font-size: 2rem;
  color: #ff8904;
  margin-bottom: 30px;
}

.tarjeta {
  width: 100%;
  max-width: 500px;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.tarjeta:hover {
  transform: scale(1.03);
}

.tarjeta img {
  width: 100%;
  height: 428px;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: background 0.3s;
}

.overlay h2 {
  font-size: 1.2rem;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.btn-ver {
  background-color: #f57c00; 
  color: #fff;
  padding: 8px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s;
  margin-top: 30px;
}

.btn-ver:hover {
  background-color: #ef6c00;
}



